/* Main body styles*/
/*Used mainly for formating, margins, padding centering text of body text and main body within columns for formating and other reasons.*/
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face{
	font-family:"gothic";
	src:url("Fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix");
	src:url("Fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix") format("eot"),url("Fonts/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2") format("woff2"),url("Fonts/9908cdad-7524-4206-819e-4f345a666324.woff") format("woff"),url("Fonts/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf") format("truetype");
}

@font-face{
	font-family:"gothicb";
	src:url("Fonts/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix");
	src:url("Fonts/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix") format("eot"),url("Fonts/bc0668e2-e5c8-45ce-954d-3b998c6b6803.woff2") format("woff2"),url("Fonts/2ef5ecda-1772-45e2-843f-a13f5d76ed3a.woff") format("woff"),url("Fonts/33cf10ca-a6bb-4888-a320-d38720c9847b.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
	font-weight: normal;
	text-shadow: 0 0 0;
}

body{
    margin:0;
    padding:0;
	line-height: 1.5em;
	font-family: "gothic";
}

b{
	font-size: 100%;
	font-family: "gothicb";
}

em{
	color: red;
}

h1{
	text-align: center;
	font-family: "gothicb";
}

h2{
	text-align: center;
	font-family: "gothicb";
}

h3{
	text-align: center;
	font-family: "gothicb";
}	

h4{
	font-family: "gothicb"
}

h5{
	margin-top: -15px;
	margin-bottom: -15px;
	font-family: "gothicb";
}

address{
	word-wrap: break-word; /*Stop email address going over the div.*/
	font-family: "gothic" "gothicb";

}

/*Navigation Bar*/
#navbar{
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 10px;
} /*Padding (spacing) around nav bar important for width and height between text*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /*Background colour for nav bar*/
}

ul.topnav li {
	float: left; /*Make navigation bar shift to the left, the starting of the actual bar, used for navigation to other pages.*/
}

ul.topnav li a {
    display: block; /*display type*/
    color: white; /*Font colour*/
	font-family: "gothic"; /*Nav bar font*/
    text-align: center; /*nav bar font alignment*/
    padding: 14px 16px; /*spacing between letters per box*/ 
    text-decoration: none; 
}

ul.topnav li a:hover:not(.active) {background-color: #111;} /*Hover colour used to show colour changes when the user had clicked on the navagation bar for what page you are in. Mainly for aesthetics.*/

ul.topnav li a.active {background-color:#4682B4;} /*Active colour(the page you are currently in) for accessiblity/identification of what page you are in. */

@media only screen and (max-width: 1000px){
	ul.topnav li.right, 
    ul.topnav li {float: none;}
}/*A screen pointer that makes the nav bar collapsed when the screen is less than 600px (a size of a smartphone) for easy reading and "tapping" of the navigation bar*/

/*Rest of website*/
/*IMAGES CSS - Used for alignment, floatations (on the left centre or right of page etc), size of images for easy viewing*/
.banner {
    width: 100%; /*Force the image to 100% in size.*/
}

.ad_banner{
	width: 50%;
	display: block;
    margin-left: auto; /*Aligning the website to the centre of the page.*/
    margin-right: auto;
}

.products_image{
	width: 90%; 
	display: block; /*Aligning the image to the centre of the page.*/
	margin-left: auto;
    margin-right: auto;
}

.wrap_image{
	float: right;
    margin: 0 0 10px 10px; /*Aligning the website to the left of the page. Margin: top, right, bottom and left.*/
	width: 10%;
}

.products_collage{
	width: 100%;/*Forcing the image to be 100% of the current container (or div)*/
}

.wrap_image2{
	float: right;
    clear: both;
	width: 15%;
	margin: -50px 0 0 0; /*Shift image to top of div (the top of header) to stop overflow of the image*/
}

/*Animated gallery using animation fling-minislide */
.fling-minislide {/*The main controller for the animated gallery. Used to avoid compression from .gif files.*/
	width: 60%; /*REMEMBER TO MAKE THE IMAGES THE SAME SIZE AS EACH OTHER OR IT WILL BE BROKEN!*/
	display: block; /*Keeping it centre on the page.*/
	margin-left: auto; 
	margin-right: auto; 
	padding-bottom: 45%; /*Height of the background, adjust as needed. Used for responsive animated gallery.*/
	overflow:hidden; 
	position:relative; } 
	
.fling-minislide img{ /*The image animation controller*/
    position:absolute; 
	animation:fling-minislide 25s infinite; 
	opacity:0; width: 100%; 
	height: auto;} /*When adding more images to the gallery; change the timer (add on 5 per image) on animation:fling-minislide (time)s infinite. Won't work correctly (opacity animation not in sync) when using more than 5 images.*/

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} /*Aviod changing opacity (fading of images) from 25%*/

.fling-minislide img:nth-child(5){animation-delay:0s;}
.fling-minislide img:nth-child(4){animation-delay:5s;}
.fling-minislide img:nth-child(3){animation-delay:10s;}
.fling-minislide img:nth-child(2){animation-delay:15s;}
.fling-minislide img:nth-child(1){animation-delay:20s;}

@media only screen and (max-width: 1000px){/*Make the fling-minislide auto width on smaller screens.*/
    .fling-minislide {width: auto; display: block; margin-left: auto; margin-right: auto; padding-bottom: 75%; overflow:hidden; position:relative;}
}	

#gallery_background{ /*Background for fling-minislide remember to adjust for .fling-minislide*/
	background: black;
	margin: auto;
}

/*Animation delay when images change*/

/*Spolier button for reciepes*/
.spoilerbutton {display:block;margin:5px 0;}
.spoiler {overflow:hidden;background: #f5f5f5;}/*spoiler button is hidden when the button isn't pressed.*/
.spoiler > div {-webkit-transition: all 0.2s ease;-moz-transition: margin 0.2s ease;-o-transition: all 0.2s ease;transition: margin 0.2s ease;} /*Animation timer using CSS3, this does not work on Internet Explorer 11*/
.spoilerbutton[value="Show"] + .spoiler > div {margin-top:-200%;}/*Opening of text when value="show" had been clicked.*/
.spoilerbutton[value="Hide"] + .spoiler {padding:5px;}/*Closure of text when value="Hide" has been clicked*/

@media only screen and (max-width: 1000px){ /*Opening of text in spolier when screen is 1000px*/
    .spoilerbutton[value="Show"] + .spoiler > div {margin-top:-1000%;} 
}

/*A reponsive Google Maps (adjusted through window size)*/
.google-maps{
    overflow:hidden;
    padding-bottom:56.25%; /*Aspect ratio of map*/
    position:relative;
    height:0;
}
.google-maps iframe{
    left:0;
    top:0;
    height:100%; /*Leave height and width alone (at 100%)*/
    width:100%;
    position:absolute;
}

/*OTHER DIVS LIKE SEPERATION OF TEXT/WRAPPERS/CONTAINERS*/
#maincontroller{
    background: black; /*Colour of background*/
    padding: 20px; /*The space around the different boxes keep it centered, controls the columns*/
}	

#topsection{
    margin-right: 5px; /*Margins for inner DIV inside each column (to provide padding) and the shift of banner */
	margin-left: 5px;
    padding: 5px;
}

#contentwrapper{/*Used for container wrapping*/
    float: left; /*Main content box, wraps around the first column*/
    width: 100%; /*Size of content box*/
	background: black;
}

#contentcolumn{
    margin: 0 0 0 20%; /*Margins for content column. Should be "0 right-column-width 0 left-column-width*/
}

#contentbox {
    padding-top: 10px; /*Padding above content box*/
}

#leftcolumn{
    float: left; /* Makes the left column on the left of the screen*/
    width: 20%; /*Width of left column in percentages*/
    margin-left: -100%; /*Column margin between window size*/
}

#footer{
    clear: left;
    width: 100%; /*Size of footer box, automaticlly shifts depending on screen size*/
    color: white; /*Colour of text*/
    text-align: center;
    padding-top: 5px;
	font-family: "gothic";
	background: black;
}

/*Footer*/
#footer a{
    color: #FFFF80; /*Colour of footer*/
}

.innertube{ /*Controls the insides of the columns (the magins of images, text and other things).*/
    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    padding: 20px; /*Spacing in the inside of the boxes*/
    background: white; /*background for the content boxes*/
	font-family: "gothic";
}

@media screen and (max-width: 1000px){ /* The responsive layout break point - drop left column down and lower the width at 1000px*/

	#leftcolumn{
	    float: none; /*Remove float, shift to the bottom below 'contentcolumn'*/
	    width: 100%;
	    clear: both;
	    margin-left: 0;
	}
	
	#contentcolumn{
	    margin-left: 0; /*Remove the margins for responsiveness.*/
	}
	
	.ad_banner{
		width: 100%; /*Make adbanner.gif resize when <1000px windows size*/
	}
	
	.wrap_image2{/*Alternative for screen sizes under 1000pxs, for imaging sizing*/
	margin: -50px 0 0 0;
	float: right;
	width: 30%;
	clear: both;
	}
}	

@media screen and (max-width: 500px){ /*For shifting images from the right to the centre of the page.*/
	.wrap_image{
		float: none; 
	    width: 40%; /*Size of the image when window is 1000px*/
	    clear: both;
		display: block; /*Aligning the image to the centre of the page.*/
		margin-left: auto;  
		margin-right: auto;
	}
	.wrap_image2{ /*Basiclly remove all other properties used in the .wrapimage2 code when thr screen size is 500px (size for a smartphone)*/
	    float: none;
	    width: 100%;
	    clear: both;
		display: block; /*Aligning the image to the centre of the page.*/
		margin-left: auto;  
		margin-right: auto;
	}
} 
